mixin main
    main.main
        .main__inner.container
            a(href="#").coupon
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title пробка на мира
                        p.coupon__content-description Вечер для двоих
                    .coupon__content-bottom
                        h2.coupon__content-num -50%
                        p.coupon__content-label СКИДКА
                .coupon__img
                    img(src="img/catalog/coup1.png", alt="Card").coupon__pic
            a(href="#").coupon
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title кИНО И НЕМЦЫ
                        p.coupon__content-description Бесплатный бокал пива
                    .coupon__content-bottom
                        h2.coupon__content-num ВАРВАР
                        p.coupon__content-label ПРОМОКОД
                .coupon__img
                    img(src="img/catalog/coup2.png", alt="Card").coupon__pic
            a(href="#").coupon
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title valery cakes
                        p.coupon__content-description Торт
                    .coupon__content-bottom
                        h2.coupon__content-num 30%
                        p.coupon__content-label СКИДКА
                .coupon__img
                    img(src="img/catalog/coup3.png", alt="Card").coupon__pic
            a(href="#").coupon
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title sushi sell
                        p.coupon__content-description Набор “Праздник”
                    .coupon__content-bottom
                        h2.coupon__content-num 45%
                        p.coupon__content-label СКИДКА
                .coupon__img
                    img(src="img/catalog/coup4.png", alt="Card").coupon__pic
            a(href="#").coupon
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title mangosteen
                        p.coupon__content-description Фрукт в подарок
                    .coupon__content-bottom
                        h2.coupon__content-num J130
                        p.coupon__content-label купон
                .coupon__img
                    img(src="img/catalog/coup5.png", alt="Card").coupon__pic
            a(href="#").coupon
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title теленок табака
                        p.coupon__content-description Стейк “Мачете”
                    .coupon__content-bottom
                        h2.coupon__content-num 20%
                        p.coupon__content-label скидка
                .coupon__img
                    img(src="img/catalog/coup6.png", alt="Card").coupon__pic
            a(href="#").coupon.coupon_display_none
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title fire food
                        p.coupon__content-description Вторая шаурма в подарок
                    .coupon__content-bottom
                        h2.coupon__content-num ОГОНЬ
                        p.coupon__content-label промокод
                .coupon__img
                    img(src="img/catalog/coup7.png", alt="Card").coupon__pic
            a(href="#").coupon.coupon_display_none
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title aroma cremeria
                        p.coupon__content-description Джелато “Пармезан”
                    .coupon__content-bottom
                        h2.coupon__content-num 20%
                        p.coupon__content-label Скидка
                .coupon__img
                    img(src="img/catalog/coup8.png", alt="Card").coupon__pic
            a(href="#").coupon.coupon_display_none
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title пробка на мира
                        p.coupon__content-description Вечер для двоих
                    .coupon__content-bottom
                        h2.coupon__content-num J130
                        p.coupon__content-label КУПОН
                .coupon__img
                    img(src="img/catalog/coup1.png", alt="Card").coupon__pic
            a(href="#").coupon.coupon_display_none
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title Кино и немцы
                        p.coupon__content-description Бесплатный бокал пива
                    .coupon__content-bottom
                        h2.coupon__content-num ВАРВАР
                        p.coupon__content-label ПРОМОКОД
                .coupon__img
                    img(src="img/catalog/coup2.png", alt="Card").coupon__pic
            a(href="#").coupon.coupon_display_none
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title valery cakes
                        p.coupon__content-description Торт
                    .coupon__content-bottom
                        h2.coupon__content-num 30%
                        p.coupon__content-label СКИДКА
                .coupon__img
                    img(src="img/catalog/coup3.png", alt="Card").coupon__pic
            a(href="#").coupon.coupon_display_none
                .coupon__content
                    .coupon__content-top
                        h4.coupon__content-title sushi sell
                        p.coupon__content-description Набор “Праздник”
                    .coupon__content-bottom
                        h2.coupon__content-num 45%
                        p.coupon__content-label СКИДКА
                .coupon__img
                    img(src="img/catalog/coup4.png", alt="Card").coupon__pic